<input [(ngModel)]="message1" name="message" placeholder="Amount" />
<button (click)="depositERC20()">Deposit</button>

<input [(ngModel)]="message2" name="message" placeholder="Amount" />
<button (click)="withdrawERC20()">Withdraw</button>

<button (click)="resumeWithdrawal()">Resume</button>
